---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hjem">
    <h1>Dette skal bli en startside</h1>
    <h2>Denne gangen skal vi være på Thon Conferance Universitetsgata 10. Programmet starter fredag 23. Mars.</h2>
</Layout>